<h1>中津川市福岡ピアノ教室</h1>
<div class="ui horizontal list">
  <div class="ui item">
    <p>予約・予約確認</p>
  </div>
  <div class="ui item">
    <p>ユーザー登録</p>
  </div>
  <div class="ui item">
    <p>ログイン</p>
  </div>
  <div class="ui item">
    <p>レッスン内容</p>
  </div>
  <div class="ui item">
    <p>レッスン費用</p>
  </div>
</div>
<div class="ui placeholder segment">
  <p>教室説明</p>
</div>